@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

button {
	color: currentColor;
}

.button {
	align-items: center;
	background: 0 0;
	border: none;
	border-radius: 10px;
	color: #0e100f;
	cursor: pointer;
	display: inline-flex;
	font-weight: 600;
	justify-content: center;
	overflow: hidden;
	padding: 19px 40px;
	position: relative;
	font-size: 16px;
	line-height: 24px;
	height: 48px;
	transition: color 0.3s ease;
	width: fit-content;
}

@media (hover: hover) {
	.button.button--stroke:hover {
		color: #ffffff;
		text-decoration: none;
	}
}

.button--stroke:after {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.button--stroke:after {
	border: 2px solid #0e100f;
	border-radius: 10px;
	content: '';
	pointer-events: none;
}

.button__label {
	position: relative;
	text-align: center;
	transition: color 50ms #0e100f;
}

.button--stroke:hover .button__label {
	transition: color 0.15s #0e100f;
}

.button__flair {
	bottom: 0;
	left: 0;
	pointer-events: none;
	position: absolute;
	right: 0;
	top: 0;
	z-index: -1;
}

.button--stroke .button__flair {
	transform: scale(0);
	transform-origin: 0 0;
	will-change: transform;
}

.button__flair:before {
	aspect-ratio: 1/1;
	background-color: #0e100f;
	border-radius: 50%;
	content: '';
	display: block;
	left: 0;
	pointer-events: none;
	position: absolute;
	top: 0;
	transform: translate(-50%, -50%);
	width: 170%;
}

*::selection {
	background-color: #caf763;
}

.bg-hero {
	backdrop-filter: blur(6px);
	-webkit-backdrop-filter: blur(6px);
}

.button.btn-primary {
	background-color: #0e100f;
	z-index: -1;
	color: #ffffff;
}

.button-primary__flair:before {
	aspect-ratio: 1/1;
	background-color: #fffce1;
	border-radius: 50%;
	content: '';
	display: block;
	left: 0;
	pointer-events: none;
	position: absolute;
	top: 0;
	transform: translate(-50%, -50%);
	width: 170%;
	z-index: 3;
}

@media (hover: hover) {
	.button.btn-primary.button--stroke:hover {
		color: #0e100f;
		text-decoration: none;
		border-color: #fffce1;
	}
}

html.lenis,
html.lenis body {
	height: auto;
}

.lenis.lenis-smooth {
	scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
	overscroll-behavior: contain;
}

.lenis.lenis-stopped {
	overflow: hidden;
}

.lenis.lenis-smooth iframe {
	pointer-events: none;
}

.active-link {
	@apply border-b-3 border-b-primary text-primary;
}
